<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wespy-old.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>wespy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24D1F814180BED5400FA653A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24D1F82F180BED5400FA653A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
